.wrapper-card {
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: #fef086;
}

.btn {
    display:inline-block;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 2px solid black;
}
.btn:hover{
    background-color: #d3a115;
}
